In [2]:
import pandas as pd
#Concat resource - https://pandas.pydata.org/docs/user_guide/merging.html

df_2000 = pd.read_csv("Data/final_tmdb_data_2000.csv.gz", low_memory = False)
df_2001 = pd.read_csv("Data/final_tmdb_data_2001.csv.gz", low_memory = False)

#df_2000.info()

frames = [df_2000, df_2001]

result = pd.concat(frames)
result.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.100,8.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.000,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.114,2190.0,PG

In [2]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2567 entries, 0 to 1329
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2567 non-null   object
 1   adult                  2565 non-null   float64
 2   backdrop_path          1395 non-null   object
 3   belongs_to_collection  206 non-null    object
 4   budget                 2565 non-null   float64
 5   genres                 2565 non-null   object
 6   homepage               173 non-null    object
 7   id                     2565 non-null   float64
 8   original_language      2565 non-null   object
 9   original_title         2565 non-null   object
 10  overview               2515 non-null   object
 11  popularity             2565 non-null   float64
 12  poster_path            2307 non-null   object
 13  production_companies   2565 non-null   object
 14  production_countries   2565 non-null   object
 15  release_date           2546 non-null   object
 16  revenue                2565 non-null   float64
 17  runtime                2565 non-null   float64
 18  spoken_languages       2565 non-null   object
 19  status                 2565 non-null   object
 20  tagline                1099 non-null   object
 21  title                  2565 non-null   object
 22  video                  2565 non-null   float64
 23  vote_average           2565 non-null   float64
 24  vote_count             2565 non-null   float64
 25  certification          815 non-null    object
dtypes: float64(9), object(17)
memory usage: 541.5+ KB

# How many movies had at least some valid financial information (values > 0 for budget OR revenue)?
- Please exclude any movies with 0's for budget AND revenue from the remaining visualizations.

In [4]:
#Creating filter for revenue then filering dataframe to get values
filter = (result['budget'] > 0) | (result['revenue'] > 0)
filter.value_counts()
#result_filtered = result[filter]
#print(f'There are a total of {result_filtered.shape[0]} movies that had valid financial for budget')

False    1931
True      636
dtype: int64

In [4]:
# #Creating filter for revenue then filering dataframe to get values
# filter = result['revenue'] > 0 
# filter.value_counts()
# #result_filtered = result[filter]
# #print(f'There are a total of {result_filtered.shape[0]} movies that had valid financial for budget')

False    2122
True      445
Name: revenue, dtype: int64

# How many movies are there in each of the certification categories (G/PG/PG-13/R)?

In [9]:
result['certification'].value_counts()

R          465
PG-13      182
NR          73
PG          63
G           25
NC-17        6
Unrated      1
Name: certification, dtype: int64

In [15]:
# Filter to dataframe then value_counts()
# Resource - 
# https://stackoverflow.com/questions/63529322/how-to-create-new-dataframe-by-filtering-a-column-of-another-dataframe

df_new = result[(result['budget'] > 0) | (result['revenue'] > 0)]

df_new['certification'].value_counts()

R        231
PG-13    131
PG        35
NR        17
G         15
Name: certification, dtype: int64

# 3. What is the average revenue per certification category?

In [17]:
#Using group 
df_new.groupby('certification')['revenue'].mean().astype(int)

# revenue_per_certification = result.groupby('certification')['revenue'].mean()
# revenue_per_certification.astype(int)

certification
G        117364760
NR         9588674
PG       110640517
PG-13     99287858
R         32485246
Name: revenue, dtype: int64

# What is the average budget per certification category?

In [18]:
df_new.groupby('certification')['budget'].mean().astype(int)

certification
G        38133333
NR        6302358
PG       44828492
PG-13    42993571
R        19494824
Name: budget, dtype: int64

In [8]:
# Save dataframe to file.
result.to_csv("Data/title_imdb.csv.gz",compression='gzip',index=False)
result

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.100,8.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.000,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.114,2190.0,PG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1325,tt7797670,0.0,NaN,NaN,0.0,"[{'id': 27, 'name': 'Horror'}]",NaN,956214.0,en,Edmund Kemper Part 2: La Mort C'est La Vie,...,0.0,91.0,[],Released,NaN,Edmund Kemper Part 2: La Mort C'est La Vie,0.0,0.000,0.0,NaN
1326,tt7797790,0.0,NaN,NaN,0.0,"[{'id': 27, 'name': 'Horror'}]",NaN,956219.0,en,Edmund Kemper Part 3: La mort sévit,...,0.0,72.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,NaN,Edmund Kemper Part 3: La mort sévit,0.0,0.000,0.0,NaN
1327,tt8665056,0.0,NaN,NaN,0.0,"[{'id': 37, 'name': 'Western'}]",http://skeletoncreekproductions.com/p-movie-br...,885436.0,en,Guns Along The Bravo,...,0.0,85.0,[],Released,Evil came to the Southwest until three blazing...,Guns Along The Bravo,0.0,0.000,0.0,NaN
1328,tt8795764,0.0,NaN,NaN,0.0,"[{'id': 27, 'name': 'Horror'}]",https://www.utahwolf.com/films/coming-soon-new...,871624.0,en,New Breed,...,0.0,57.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,New Breed,0.0,0.000,0.0,NR
1329,tt9071078,0.0,NaN,NaN,0.0,"[{'id': 28, 'name': 'Action'}]",NaN,201706.0,cn,致命密函,...,0.0,90.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,NaN,Chinese Heroes,0.0,3.000,2.0,NaN